---
layout: slides
hidelogofirstslide: true
---


{% include slides/logo.html
  id="logo"
  tagline="Security for developers."
  background="img/home/vault-bigger-center-crop.jpg"
%}

{% include slides/header-hero-button-centered.html
  id="developer"
  header="Developer-centric"
  details="Our mission is to improve security for applications, developers and their environments. Apps have bugs and vulnerabilities, but these need not lead to stolen data."
  background="img/home/coffee.jpg"
  buttonText="View Products"
  buttonUrl="/products/"
%}

{% include slides/lefthead-rightimage.html
  id="code"
  superheader="To fix security breaches:"
  header="Go to the source"
  subheader="code"
  imageClass="img-90PctAppLayer w100pct"
  background="img/home/code.jpg"
%}

{% include slides/tophead-rightdesc.html
  id="fortress"
  superheader="Antiquated security"
  header="Fortress #FAIL"
  details="Keeping a strong perimeter is great as long as you understand its limits. It won’t keep everyone out. Failure to secure the inside leads to data breaches."
  background="img/home/castle.jpg"
%}

{% include slides/tophead-bottomimage.html
  id="distributed"
  header="Data is everywhere"
  subheader="Apps, Partners, Vendors, Mobile, Cloud, Remote, IoT"
  image="img/home/PerimeterInsecurity.png"
  imageAlt="Illustration of porous network border"
  background="img/home/castle-in-clouds.jpg"
%}

{% include slides/bigquote.html
  quote="If you have built castles in the air, your work need not be lost; that is where they should be. Now put the foundations under them."
  author="Thoreau"
  background="img/home/clouds.jpg"
%}

{% include slides/tophead-rightdesc.html
  id="provable"
  superheader="Provable access control"
  header='The difference between<br>"I think" and "I know."'
  details="Encryption-backed access control and identity means records can only be read by users who have been expressly granted permission."
  background="img/home/lightning.jpg"
%}

{% include slides/header-hero-button-centered.html
  id="zero"
  header="Zero Hassle"
  details="IronCore data is unlocked at the point of use only and kept locked at all other times. Servers have zero knowledge, developers have zero hassle. Key management, encryption, sharing and permissions are all handled automatically so devs can focus on their primary features."
  background="img/home/zoom.jpg"
  buttonText="Learn More"
  buttonUrl="/technology/"
%}

{% include slides/mailchimp.html background="img/home/boy-listens.jpg" %}
