---
layout: slides
hidelogofirstslide: true
---

{% comment %}
Keywords: API, SDK, end to end encryption, ios, android, javascript,

Hit the value prop

You can sell your software to bigger companies if you have better security.

{% endcomment %}

{% include slides/logo.html
  id="logo"
  tagline="Security for developers."
  background="img/home/vault-bigger-center-crop.jpg"
%}

{% include slides/header-hero-button-centered.html
  id="developer"
  header="Developer-centric"
  details="Our mission is to improve security for applications, developers and their environments. Apps inevitably have bugs and vulnerabilities, but these need not lead to stolen data."
  background="img/home/coffee.jpg"
  buttonText="View Products"
  buttonUrl="/products/"
%}

{% include slides/lefthead-rightimage.html
  id="code"
  superheader="To fix security breaches:"
  header="Go to the source"
  subheader="code"
  imageClass="img-90PctAppLayer w100pct"
  background="img/home/code.jpg"
%}

{% include slides/header-hero-button-centered.html
  header="Better Security = More sales"
  id="sales"
  details="If you sell software to medium and large companies, your security matters. Enterprise companies demand strong protection of their data. Without trust and credibility, you will lose the sale. IronCore brings trust you can leverage to close more deals."
  background="/img/home/bull-statue.jpg"
%}

{% include slides/tophead-bottomimage.html
  id="distributed"
  header="Data is everywhere"
  subheader="Apps, Partners, Vendors, Mobile, Cloud, Remote, IoT"
  image="img/home/PerimeterInsecurity.png"
  imageAlt="Illustration of porous network border"
  background="img/home/castle-in-clouds.jpg"
%}

{% include slides/tophead-rightdesc.html
  id="fortress"
  superheader="Antiquated paradigm"
  header='Fortress <i class="fa fa-arrow-circle-right"></i><span class="sr-only">Equals</span> Failure'
  details="Keeping a strong perimeter is inadequate in today's environment. Inevitably a bad guy will get in and if your data is unprotected, then you will be breached. If you aren't already."
  background="img/home/castle.jpg"
%}


{% include slides/header-hero-button-centered.html
  header="Reputation is Key"
  id="reputation"
  details="A data breach can really hurt the trust your customers have in you. If they find out. By law, companies must disclose when customer data is accessed if the data is personally identifiable (as defined by the laws of the states and countries where your customers reside) or, in the U.S., is covered by HIPAA. In all cases, <strong>you only need disclose if <i>unencrypted</i> data is accessed</strong>."
  buttonUrl="https://blog.ironcorelabs.com/breach-disclosure-laws-and-consequences-f7e14edca29e"
  buttonText="Learn more"
  background="/img/home/curtains.jpg"
%}


{% comment %}
Remove.

{% include slides/bigquote.html
  quote="If you have built castles in the air, your work need not be lost; that is where they should be. Now put the foundations under them."
  author="Thoreau"
  classes="fade-4"
  background="img/home/clouds.jpg"
%}
{% endcomment %}

{% include slides/tophead-rightdesc.html
  id="provable"
  superheader="Provable access control"
  header='The difference between <br>&ldquo;I think&rdquo; and &ldquo;I know.&rdquo;&trade;'
  details="A lot of companies think (or hope) they're giving you security, but we can prove it. Our access control is backed by encryption."
  background="img/home/lightning.jpg"
%}

{% include slides/header-hero-button-centered.html
  id="zero"
  classes="fade-8"
  header="Zero Hassle"
  details="IronCore data is unlocked at the point of use only and kept locked at all other times. Servers have zero knowledge, developers have zero hassle. Key management, encryption, sharing and permissions are all handled automatically so developers can focus on their core value propostion."
  background="img/home/zoom.jpg"
  buttonText="Learn More"
  buttonUrl="/technology/"
%}

{% include slides/mailchimp.html id="maillist" header="Mail List Signup" background="img/home/boy-listens.jpg" %}
