{% include slides/slideStart.html classes=include.classes id=include.id lightbackground=include.lightbackground header=include.header %}
        <div class="fix-10-12">
          <h1 class="sansSerifHeading hide-text show-image h4x wide fromCenter img-ironcore-logo-overunder-inverse-transparent ae-1">
            IronCore Labs
          </h1>
          <h2 class="ae-2 hero cropBottom sansSerifHeading">
            {{ include.tagline | default: Simply secure data. }}
          </h2>
          <div class="ae-2 beta-announcements margin-top-2">
            <a href="#maillist" class="button deepRed uppercase rounded padding-right-1 padding-left-1">Request Beta Invite</a>
          </div>
        </div>
{% include slides/slideEnd.html background=include.background backgroundTop=include.backgroundTop %}
