{% include slides/slideStart.html classes=include.classes id=include.id lightbackground=include.lightbackground header=include.header %}
        <div class="fix-10-12">
          <div class="ae-3">
            <h2>
              <div class="micro">IronCore News</div>
              <div>Stay Informed</div>
            </h2>
          </div>
          <br>
          <div>
            <form action="//ironcorelabs.us10.list-manage.com/subscribe/post?u=b2443ca319e79ea90fd735d2f&amp;id=2d486411bb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate ae-4">

{% comment %}Regex from http://emailregex.com/{% endcomment %}

              <input type="email" value="" name="EMAIL" autocapitalize="off" autocorrect="off" id="subscribe-email" required placeholder="Your e-mail" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$" class="rounded input-38"/>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b2443ca319e79ea90fd735d2f_2d486411bb" tabindex="-1" value=""></div>
              <input type="submit" value="Get Updates" name="subscribe" class="button deepRed uppercase rounded"/>
              <ul>
                <li>
                  <input type="checkbox" value="1" name="group[10813][1]" id="mce-group[10813]-10813-0" checked>
                  <label for="mce-group[10813]-10813-0">Product Updates</label>
                </li>
                <li>
                  <input type="checkbox" value="2" name="group[10813][2]" id="mce-group[10813]-10813-1" checked>
                  <label for="mce-group[10813]-10813-1">Blog Post Digest</label>
                </li>
              </ul>

            </form>
          </div>
        </div>
{% include slides/slideEnd.html background=include.background backgroundTop=include.backgroundTop %}
