{% include slides/slideStart.html classes=include.classes id=include.id lightbackground=include.lightbackground header=include.header %}
        <div class="fix-10-12">
          <div class="ae-3">
            <h2>
              <div class="micro">Infrequent updates</div>
              <div>Stay Informed</div>
            </h2>
          </div>
          <br>
          <div>
            <form action="//ironcorelabs.us10.list-manage.com/subscribe/post?u=b2443ca319e79ea90fd735d2f&amp;id=2d486411bb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate ae-4" target="_blank" novalidate>
              <input type="email" value="" name="subscribe-email" id="subscribe-email" placeholder="Your e-mail" class="rounded input-38"/>
              <input type="submit" value="Get Updates" name="subscribe-submit" class="button deepRed uppercase rounded"/>
              <label for="subscribe-email" class="subscribe-message"></label>
            </form>
          </div>
        </div>
{% include slides/slideEnd.html background=include.background backgroundTop=include.backgroundTop %}
