{% include slides/slideStart.html classes=include.classes id=include.id lightbackground=include.lightbackground header=include.header %}
        <div class="fix-10-12">
          <svg class="ae-1 h35 w35" viewBox="0 0 36 30" xmlns="http://www.w3.org/2000/svg"><path d="M12.272-.055c-8.16 3.995-12.07 10.2-12.07 18.19 0 6.97 2.72 11.172 7.99 11.172 3.74 0 6.545-2.72 6.545-6.97 0-3.825-2.972-6.205-6.545-6.205-.255 0-.595 0-.85.085 0-5.1 2.55-8.245 7.65-10.795l-2.72-5.44zm20.145 0c-8.16 3.995-12.155 10.2-12.155 18.19 0 6.97 2.805 11.172 8.072 11.172 3.74 0 6.46-2.72 6.46-6.97 0-3.825-2.89-6.205-6.46-6.205-.255 0-.595 0-.85.085 0-5.1 2.55-8.245 7.65-10.795l-2.72-5.44z"></path></svg>
          <div class="fix-8-12 ae-2">
            <p class="large serifHeading margin-bottom-1" markdown="1">{{ include.quote }}</p>
          </div>
          {% if include.author %}
            <div class="ae-3">&mdash; {{ include.author }}</div>
          {% endif %}

          <ul class="grid later center margin-top-2">
            <li class="col-6-12">
              {% if include.box1image %}
                <img class="ae-4 w72 h72" src="{{ include.box1image }}" alt="{{ include.box1imageAlt }}"/>
              {% elsif include.box1imageClass %}
                <div class="ae-4 h72 hide-text show-image {{ include.box1imageClass }}">
                  {{ include.box1imageAlt }}
                </div>
              {% endif %}
              <h2 class="micro uppercase ae-5 ">{{ include.box1head }}</h2>
              <p class="ae-6">{{ include.box1body }}</p>
            </li>
            <li class="col-6-12">
              {% if include.box2image %}
                <img class="ae-4 w72 h72" src="{{ include.box2image }}" alt="{{ include.box2imageAlt }}"/>
              {% elsif include.box2imageClass %}
                <div class="ae-4 hide-text h72 show-image {{ include.box2imageClass }}">
                  {{ include.box2imageAlt }}
                </div>
              {% endif %}
              <h2 class="micro uppercase ae-6">{{ include.box2head }}</h2>
              <p class="ae-7">{{ include.box2body }}</p>
            </li>
          </ul>

        </div>
{% include slides/slideEnd.html background=include.background backgroundTop=include.backgroundTop %}
