---
layout: default
title: News
---
 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>News</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="posts col-md-8">
    {% for post in paginator.posts %}
      <article>
        <h4><a href="{{ post.url }}">{{ post.title }}</a>
          <small>
            {{ post.date | date: "%B %e, %Y" }} 
            {% if post.category %}
              | {{ post.category }}
            {% endif %}
          </small>
        </h4>
        <div class="entry">
          {{ post.excerpt | strip_html }}
        </div>

        <a href="{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
      <div class="container">
        <div class="row">
          <nav>
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li>
              {% else %}
                <li class="disabled">
              {% endif %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <li class="active">
                {% else %}
                  <li>
                {% endif %}
                {% if page == 1 %}
                  <a href="/news/">{{ page }}</a></li>
                {% else %}
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}
              {% if paginator.next_page %}
                <li>
              {% else %}
                <li class="disabled">
              {% endif %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="col-md-4 twitter-container" id="twitter-container">
      <a class="twitter-timeline" href="https://twitter.com/IronCoreLabs" data-widget-id="594367675494600704">
        <i class="fa fa-twitter fa-spin"></i>
        Tweets by @IronCoreLabs
      </a>
    </div>
  </div>
</div>


