
    <footer class="footer">
      <div class="container-fluid">
        <div class="row" id="contact">
          <div class="col-md-4 text-center">
            <h4>Mailing List</h4>
            {% include mailchimp.html %}
          </div>
          <div class="col-md-4 text-center">
            <h4>Follow Us</h4>
              <a href="https://twitter.com/ironcorelabs" title="Follow us on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/ironcorelabs" title="Follow us on Github" target="_blank"><i class="fa fa-github"></i></a>
              <a href="https://blog.ironcorelabs.com" title="Follow us on Medium" target="_blank"><i class="fa fa-medium"></i></a>
              <a href="https://linkedin.com/company/ironcore-labs" title="Follow us on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://facebook.com/ironcorelabs" title="Follow us on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-md-4 text-center" itemscope itemtype="http://schema.org/LocalBusiness ">
            <h4>Contact Us</h4>
            <span itemprop="name" class="sr-only">IronCore Labs</span>
            <a href="#contact" class="contactemail">info</a><br>
            <a href="#contact" class="contacttel">52-48-55-46-61-51-62-42-49-63-58-60</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            Copyright &copy;
            2015-<time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
            IronCore Labs, Inc.
            All rights reserved.
          </div>
        </div>
      </div>
    </footer>
