<!-- Panel Bottom #04 -->
<nav class="panel bottom">
  <div class="sections">
    <div class="left">
    </div>
    <div class="center">
      <span class="nextSlide exceptLastSlide"><i class="fa fa-chevron-down"></i></span><br>
      <ul class="social lastSlideOnly">
        <li><a href="https://twitter.com/ironcorelabs" title="Follow us on twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/ironcorelabs" title="Follow us on Github"><i class="fa fa-github"></i></a></li>
        <li><a href="https://linkedin.com/company/ironcore-labs" title="Follow us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://blog.ironcorelabs.com/feed" title="Follow us with RSS"><i class="fa fa-rss"></i></a></li>
        <li><a href="https://facebook.com/ironcorelabs" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <span class="copyright lastSlideOnly">
        Copyright &copy;
        2015-<time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
        IronCore Labs, Inc.
        All rights reserved.
        <a href="{{ site.baseurl }}/credits">Credits</a>.
      </span>
    </div>
    <div class="right">
      {% comment %}
      <!-- <span data-dropdown-id="2" class="button actionButton dropdownTrigger">
        <i class="fa fa-share-alt"></i>
        <span class="sr-only">Share</span>
      </span> -->
      {% endcomment %}
    </div>
  </div>
</nav>
