{% capture current_url %}{{ page.url | replace: 'index.html', '' }}{% endcapture %}
<!-- Navigation -->
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>

<!-- Panel top #10 -->
<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left">
      <ul class="menu uppercase small crop">
        {% for e in site.nav %}
          <li {% if e.url == current_url or (e.posts and page.is_post) %}class="active"{% endif %}>
            {% if e.url contains "http" %}
              <a href="{{ e.url }}">{{ e.text }}</a>
            {% else %}
              <a href="{{ site.baseurl }}{{ e.url }}">{{ e.text }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="center ">
      <div class="hide-text show-image wide navlogo h30 {% if page.hidelogofirstslide %}headerlogohiddenfirstslide{% endif %}">IronCore Labs</div>
    </div>
    <div class="right">
      <ul class="menu uppercase small crop">
        {% for e in site.navright %}
          <li {% if e.url == current_url or (e.posts and page.is_post) %}class="active"{% endif %}>
            {% if e.url contains "http" %}
              <a href="{{ e.url }}">{{ e.text }}</a>
            {% else %}
              <a href="{{ site.baseurl }}{{ e.url }}">{{ e.text }}</a>
            {% endif %}
          </li>
        {% endfor %}
        <li>
          <a href="http://twitter.com/{{ site.follow-us.twitter }}" target="_blank">
            <i class="fa fa-twitter h20 fa-lg"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left">
      <a href="{{ site.baseurl }}/">
        <div class="hide-text show-image navlogo {% if page.hidelogofirstslide %}headerlogohiddenfirstslide{% endif %}">
          IronCore Labs
        </div>
      </a>
    </div>
    <div class="right">
      <div class="button actionButton sidebarTrigger" data-sidebar-id="1">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Menu</span>
        <!-- <div class="hide-text show-image img-menu">
          Menu
        </div> -->
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<nav class="sidebar" data-sidebar-id="1">
  <div class="close hide-text show-image img-close">Close</div>
  <div class="content">
    <a href="{{ site.baseurl }}/" class="logo">
      <div class="hide-text show-image img-ironcore-logo-overunder-inverse-transparent">IronCore Labs</div>
    </a>
    <ul class="mainMenu uppercase">
        {% for e in site.nav %}
          <li {% if e.url == current_url or (e.posts and page.is_post) %}class="active"{% endif %}><a href="{{ e.url }}">{{ e.text }}</a></li>
        {% endfor %}
    <!-- </ul> -->
    <!-- <ul class="subMenu"> -->
      {% for e in site.navright %}
        <li {% if e.url == current_url or (e.posts and page.is_post) %}class="active"{% endif %}><a href="{{ e.url }}">{{ e.text }}</a></li>
      {% endfor %}
    </ul>
    <ul class="social">
      <li><a href="https://twitter.com/{{ site.follow-us.twitter }}" title="Follow us on twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li><a href="https://blog.ironcorelabs.com/feed" title="Follow us with RSS"><i class="fa fa-rss fa-2x"></i></a></li>
      <li><a href="https://linkedin.com/company/{{ site.follow-us.linkedin }}" title="Follow us on LinkedIn"><i class="fa fa-linkedin fa-2x"></i></a></li>
      <li><a href="https://github.com/{{ site.follow-us.github }}" title="Follow us on Github"><i class="fa fa-github fa-2x"></i></a></li>
      <li><a href="https://facebook.com/{{ site.follow-us.facebook }}" title="Follow us on Facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
    </ul>
    {% comment %}
    <div class="contact" itemscope itemtype="http://schema.org/LocalBusiness ">
      <span itemprop="name" class="sr-only">IronCore Labs</span>
      <a href="#contact" class="contactemail">info</a><br>
      <a href="#contact" class="contacttel">52-48-55-46-61-51-62-42-49-63-58-60</a>
    </div>
    <div class="copyright">
      Copyright &copy;
      2015-<time datetime="{{ site.time | date: '%Y' }}">{{ site.time | date: '%Y' }}</time>
      IronCore Labs, Inc.
      All rights reserved.
    </div>
    {% endcomment %}

  </div>
</nav>
