/*

   _____ _       _              _____  _____ _____
  / ___/| (•)   | |           / ____// ____/ ____/  v 2.3
 | (___ | |_  __| | ___ ____ | |    | (___| (___
  \___ \| | |/ _` |/ _ / __/ | |     \___ \ ___ \
  ____) | | | (_| |  __\__ \ | |____ ____) |___) |
 /_____/|_|_|\__,_|\___/___/  \_____/_____/_____/


This file contains styles that are necessary for proper work
of your Slides Project.

http://designmodo.com/slides/

*/

// File broken out into parts
@import 'reset';
@import 'variables';
@import 'slides/fonts';
@import 'slides/misc';
@import 'slides/elements';
@import 'slides/typography';
@import 'slides/main';
@import 'slides/buttons';
@import 'slides/forms';
@import 'slides/colors';
@import 'slides/slides';
@import 'slides/grid';
@import 'slides/panels';
@import 'slides/preloader';
@import 'slides/side';
@import 'slides/share';
@import 'slides/sidebar';
@import 'slides/popup';
@import 'slides/zoomimage';
@import 'slides/slider';
@import 'slides/effects';
@import 'slides/custom';


// From here down is custom IronCore bits
@import 'output/images';
@import 'font-awesome-compass';
@import 'font-awesome';
@import 'highlights';

html {
  font-size: $fontSizeBase;
}
@media screen and (max-width:$medium-screen-max-size) {
  html {
    font-size: 15px;
  }
  .hero {
    font-size: 1.8rem;
  }
}
@media screen and (max-width:$small-screen-max-size) {
  html {
    font-size: 14px;
  }
  .hero {
    font-size: 1.5rem;
  }
}

ol {
  list-style: decimal outside;
  margin: 0 1em;
  padding-bottom: 2em;
  padding-left: 2em;
  opacity: 0.8;
  li {
    font-size: 1.4em;
    line-height: 1.385;
  }
}

.sticky {
  position: sticky; // polyfilled in js
}
.fixed {
  position: fixed;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.show-image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
a.show-image, a > .show-image {
  display: inline-block;
}
.w35 {
  width: 35px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}
.w100pct {
  width: 100%;
}
.h20 {
  height: 20px;
}
.h25 {
  height: 25px;
}
.h30 {
  height: 30px;
}
.h35 {
  height: 35px;
}
.h100pct {
  height: 100%;
}
.h72 {
  height: 72px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h256 {
  height: 256px;
}
.h300 {
  height: 300px;
}
.h400 {
  height: 400px;
}
.h500 {
  height: 500px;
}
.h600 {
  height: 600px;
}
.hauto {
  height: auto;
}
.h4x {
  line-height: 400%;
}
.h3x {
  line-height: 300%;
}
.h35x {
  line-height: 350%;
}
.h2x {
  line-height: 200%;
}
.h25x {
  line-height: 250%;
}
.h15x {
  line-height: 150%;
}
.h1em {
  height: 1em;
}
.h3rem {
  height: 3rem;
}
h2.hero {
  line-height: 45px;
  letter-spacing: -1px;
  text-transform: none;
}

.panel .button.actionButton {
  opacity: 0.7;
  &:hover {
    opacity: 1.0;
  }
}
.panel .button.actionButton i {
  position:absolute;
  color: #999;
  font-size: 30px;
  top: 8px;
  left: 11px;
}
.sidebar .logo, .sidebar .logo > div {
  height: 100px;
  width: 100%;
}
.sidebar .social li a {
  font-size: 14px !important;
}
.firstSlide .headerlogohiddenfirstslide {
  visibility: hidden;
}
.bottom ul.social {
  margin-bottom: 1rem;
}
.bottom .social li {
  display: none;
  display: inline-block;
  margin-right: 0.5em;
}
.copyright {
  font-size: 0.5rem;
  opacity: 0.5;
  a {
    text-decoration: underline;
  }
}
.lastSlideOnly {
  display: none;
}
.lastSlide .lastSlideOnly {
  display: block;
}
.lastSlide .exceptLastSlide {
  display: none;
}
#code {
  .show-image {
    background-position: top center;
    height: 600px;
  }
  h1  {
    letter-spacing: 0;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
  h1 .superheader {
    text-align: left;
  }
  h1 .subheader {
    text-align: center;
  }
}
#fortress {
  .wrap {
    vertical-align: middle;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
#distributed {
  h1 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  .subheader {
    letter-spacing: 0.1em;
    text-transform: lowercase;
  }
}
#zero {
  h2 {
    font-size: 6.25rem;
    @media screen and (max-width:$medium-screen-max-size) {
      font-size: 2rem;
    }
  }
}
#provable {
  .wrap {
    vertical-align: middle;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
#so-called-best-practices {
  .img-data-on-screen {
    margin: 0;
  }
}
#desk {
  .show-image {
    background-position-y: top;
  }
  h1 {
    letter-spacing: 0;
    .subheader {
      text-transform: none;
    }
  }
  p.details {
    font-style: italic;
    font-size: 1rem;
    @extend .textRed;
  }
}
#end-to-end {
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.625rem;
  }
}
#productselector {
  .show-image {
    margin-bottom: 1rem;
  }
}
#recent-tweets {
  margin-top: 2rem;
}
#key-on-server {
  .caption {
    @extend .red;
    padding: 0.4em;
    margin-top: 0.4em;
  }
  .image-container {
    margin-top: 2em;
  }
}
.whiteSlide #twitter-latest p {
  color: #000;
}
.msie #twitter-latest .media img {
  display: none;
}
#twitter-latest {
  li {
    position: relative;
    float: left;
    width: 48%;
    min-height: 10rem;
    background-color: rgba(255,255,255,0.6);
    -webkit-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
    margin-right: 1%;
    margin-bottom: 1rem;
    &:active, &:focus {
      overflow: visible;
      .tweet {
        font-size: 150%;
      }
      .media {
        position: relative;
        z-index: 1;
        &::before {
          content: '';
        }
      }
      .media img {
        display: block;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        filter: none;
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        opacity: 1;
      }
    }
    &:active .media, &:focus .media {
      height: auto;
      overflow: visible;
    }
    &:hover {
      cursor: zoom-in;
    }
  }
  @media screen and (max-width:$medium-screen-max-size) {
    li {
      float: none;
      width: 100%;
      min-height: 5rem;
    }
  }
  p {
    font-family: $fontSansSerifHeading;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $white;
  }
  .timePosted {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  .timePosted::before {
    @extend .fa;
    content: $fa-var-twitter;
    opacity: 0.6;
  }
  a[data-scribe="element:hashtag"] {
    color: $red;
  }
  .interact { display: none; }
  p.timePosted a {
    font-family: $fontSansSerifBody;
    font-size: 0.8rem;
    opacity: 0.6;
    font-style: italic;
  }
  .media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
    opacity: 1;
    z-index: -1;
    img {
      // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'w3.org/2000/svg\'><filter id=\'blur\' x=\'0\' y=\'0\'><feGaussianBlur stdDeviation=\'2\'/></filter></svg>#blur");
      filter: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%5C%27w3.org%2F2000%2Fsvg%5C%27%3E%3Cfilter%20id%3D%5C%27blur%5C%27%20x%3D%5C%270%5C%27%20y%3D%5C%270%5C%27%3E%3CfeGaussianBlur%20stdDeviation%3D%5C%272%5C%27%2F%3E%3C%2Ffilter%3E%3C%2Fsvg%3E#blur");
      -webkit-filter: blur(2px);
      filter: blur(2px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
      opacity: 0.6;
      max-width: 100%;
    }
    &::before {
      @extend .fa;
      content: $fa-var-search-plus;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
    }
  }
}
#client {
  .hide-text {
    text-indent: 0;
    text-align: left;
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
  }
}
#sales {
  h2 {
    font-size: 4rem;
    @media screen and (max-width:$medium-screen-max-size) {
      font-size: 2rem;
    }
  }
}
#maillist {
  li {
    display: inline-block;
    color: white;
    margin-right: 1rem;
    font-size: 1.4rem;
    font-family: $fontSansSerifBody;
  }
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
  }
  label:before {
    content: "";
    display: inline-block;

    width: 1.4rem;
    height: 1.4rem;

    margin-right: 1rem;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  }
  input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    background-color: $deepRed;
    color: white;
    text-align: center;
    line-height: 1.4rem;
  }
  input[type=checkbox], .mailchimpcheckbox {
    display: none !important;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
#credits {
  img {
    max-width: 150px;
    height: auto;
  }
  ul ul li {
    margin-left: 175px;
    list-style-type: disc;
  }
  ol li {
    list-style-type: disc;
  }
  h2 {
    margin-top: 1em;
  }
}
.image-container {
  margin-top: 4em;
}
.quotation-mark {
  text-align: center;
  font-family: $fontSerifHeading;
  font-size: 14rem;
  margin: 0;
  padding: 0;
  opacity: .7;
  line-height: 5rem;
}
.quote {
  font-family: $fontSansSerifHeading;
  // text-transform: none;
  letter-spacing: 0.05rem;
  /* word-spacing: .2em; */
  // text-align: left;
  line-height: 1.5em;
  font-size: 3.5rem;
  text-align: center;
  opacity: 1;
  // font-weight: normal;
  @media screen and (max-width:$medium-screen-max-size) {
    line-height: 1.2em;
    font-size: 1.5rem;
  }
}
.author {
  font-family: $fontSerifHeading;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
  padding-top: 1em;
}
.tophead-rightdesc {
  .hero {
    margin-top: 4rem;
    font-size: 3rem;
  }
  @media screen and (max-width:$medium-screen-max-size) {
    .superheader {
      font-size: 1rem;
      letter-spacing: 0.2em;
    }
    .hero {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }
}
.topquote-bottom2iconboxes li {
  margin-bottom: 2rem;
}
.whiteSlide.fade.fade-1 .content, .whiteSlide.fade-1 .content {
  background: rgba(255, 255, 255, 0.1)
}
.whiteSlide.fade.fade-2 .content, .whiteSlide.fade-2 .content {
  background: rgba(255, 255, 255, 0.2)
}
.whiteSlide.fade.fade-3 .content, .whiteSlide.fade-3 .content {
  background: rgba(255, 255, 255, 0.3)
}
.whiteSlide.fade.fade-4 .content, .whiteSlide.fade-4 .content {
  background: rgba(255, 255, 255, 0.4)
}
.whiteSlide.fade.fade-5 .content, .whiteSlide.fade-5 .content {
  background: rgba(255, 255, 255, 0.5)
}
.whiteSlide.fade.fade-6 .content, .whiteSlide.fade-6 .content {
  background: rgba(255, 255, 255, 0.6)
}
.whiteSlide.fade.fade-7 .content, .whiteSlide.fade-7 .content {
  background: rgba(255, 255, 255, 0.7)
}
.whiteSlide.fade.fade-8 .content, .whiteSlide.fade-8 .content {
  background: rgba(255, 255, 255, 0.8)
}
.whiteSlide.fade.fade-9 .content, .whiteSlide.fade-9 .content {
  background: rgba(255, 255, 255, 0.9)
}

.navlogo {
  @extend .img-ironcore-logo-side-inverse-transparent;
  width: 200px;
  height: 31px
}
.whiteSlide .navlogo {
  @extend .img-ironcore-logo-side;
}
.firstSlide.lastSlide .side .navigation {
  visibility: hidden;
}
.caption {
  font-style: italic;
}
strong, b, .bold {
  font-weight: bold;
}
i, em {
  font-style:italic;
}
section a {
  text-decoration: underline;
}
code {
  font-size: 80%;
  background-color: #eee;
}

pre > code {
  font-size: 110%;
  line-height: 150%;
}

.contactButtons {
  li {
    display: inline-block;
    min-width: (12 * 0.8rem);
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }
  i {
    font-size: 3rem;
    display:block;
    margin:0;
    padding:0;
  }
  .contactLabel {
    font-weight: bold;
    display:block;
    margin:0;
    padding:0;
  }
  .contactAddress {
    display:block;
    margin:0;
    padding:0;
    font-size: 0.8rem;
    color: $gray;
  }
  & li:hover, & li:active, & li:focus {
    color: $blue;
    .contactAddress {
      color: $blue;
    }
  }

}

.button.disabled {
  background-color: $gray;
  color: $lightGray;
  cursor: default;
  &:hover, &:active {
    background-color: $lightGray;
    color: $white;
    top: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
  }
}

nav .active a:hover {
  cursor: default;
  opacity: 1.0 !important;
}
nav .right .active a::after {
  @extend .fa;
  content: $fa-var-caret-left;
  margin-left: 5px;
}
nav .left .active a::before {
  @extend .fa;
  content: $fa-var-caret-right;
  margin-right: 5px;
}
input:focus:invalid ~ input[type="submit"] {
  @extend .button.disabled;
}
input:focus:invalid {
  background-color: lighten($yellow, 30%);
  outline:none;
  border: 1px solid $yellow;
  box-shadow: 0 0 10px $yellow;
}
input:focus:valid {
  background-color: lighten($green, 35%);
  outline:none;
  border: 1px solid $green;
  box-shadow: 0 0 10px $green;
}
.highlight .gutter {
  font-family: $fontMonospace;
  color: #999;
  padding-right: 1em;
  line-height: 1.4em;
}

.code pre {
  line-height: 1.4em;
  font-family: $fontMonospace;
}