/* COLORS BY (C) Google Meterial Design */

.white { background-color:$white ; color:$black ;} .button.white svg { fill:$black  ;}
.black { background-color:$black ; color:$white ;} .button.black svg { fill:$white  ;}
.red { background-color:$red ; color:$white ;}
.deepRed { background-color:$deepRed ; color:$white ;}
.pink { background-color:$pink ; color:$white ;}
.purple { background-color:$purple ; color:$white ;}
.deepPurple { background-color:$deepPurple ; color:$white ;}
.indigo { background-color:$indigo ; color:$white ;}
.blue { background-color:$blue ; color:$white ;}
.cyan { background-color:$cyan ; color:$white ;}
.teal { background-color:$teal ; color:$white ;}
.green { background-color:$green ; color:$white ;}
.lightGreen { background-color:$lightGreen ; color:$white ;}
.lime { background-color:$lime ; color:$black ;}
.yellow { background-color:$yellow ; color:$black ;}
.amber { background-color:$amber ; color:$white ;}
.orange { background-color:$orange ; color:$white ;}
.deepOrange { background-color:$deepOrange ; color:$white ;}
.brown { background-color:$brown ; color:$white ;}
.grey, .gray { background-color:$gray ; color:$white ;}
.blueGrey, .blueGray { background-color:$blueGray ; color:$white ;}

.textWhite { color:$white  ;}
.textBlack { color:$black  ;}
.textRed { color:$red ;}
.textPink { color:$pink ;}
.textPurple { color:$purple ;}
.textDeepPurple { color:$deepPurple ;}
.textIndigo { color:$indigo ;}
.textBlue { color:$blue ;}
.textCyan { color:$cyan ;}
.textTeal { color:$teal ;}
.textGreen { color:$green ;}
.textLightGreen { color:$lightGreen ;}
.textLime { color:$lime ;}
.textYellow { color:$yellow ;}
.textAmber { color:$amber ;}
.textOrange { color:$orange ;}
.textDeepOrange { color:$deepOrange ;}
.textBrown { color:$brown ;}
.textGrey, .textGray { color:$gray ;}
.textBlueGrey, .textBlueGray { color:$blueGray ;}

/* social colors */
.facebook { background:#3b5998;}
.twitter { background:#55acee;}
.googlePlus { background:#DD4330;}
.stumbleupon { background:#eb4924;}
.linkedin { background:#0077b5;}
.pinterest { background:#cc2127;}
