/*

   _____ _       _              _____  _____ _____
  / ___/| (•)   | |           / ____// ____/ ____/  v 2.3
 | (___ | |_  __| | ___ ____ | |    | (___| (___
  \___ \| | |/ _` |/ _ / __/ | |     \___ \ ___ \
  ____) | | | (_| |  __\__ \ | |____ ____) |___) |
 /_____/|_|_|\__,_|\___/___/  \_____/_____/_____/


This file contains styles that are necessary for proper work
of your Slides Project.

http://designmodo.com/slides/

*/

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Raleway:300,500,800|Source+Sans+Pro:100,300,400,600,700,900);

.raleway {
  font-family:"Raleway", sans-serif !important;
}
.sourceSans {
  font-family:"Source Sans Pro", sans-serif !important;
}
.playfair {
  font-family:'Playfair Display', serif !important;
}
.georgia {
  font-family:'Georgia', serif !important;
}

.sansSerifHeading {
  font-family: $fontSansSerifHeading;
}
.sansSerifBody {
  font-family: $fontSansSerifBody;
}
.serifHeading {
  font-family: $fontSerifHeading;
}
