/* preloader */
html:not(.page-loaded) .slides .slide.selected,
html:not(.page-loaded) .slides.scroll .slide {
   opacity:0.2 !important;
}

.slides .slide {
   opacity:1;
}

.loadingIcon {
	position:fixed;
  z-index:10000;
	text-align:center;
  top:10px;
  right:10px;
  opacity:0;
}

.page-ready .loadingIcon {
	-webkit-transform:scale(1);
  transform:scale(1);
	opacity:1;
	-webkit-transition:0.5s 0.5s;
	transition:0.5s 0.5s;
}

.loadingIcon svg {
	width:24px;
	height:24px;
}

.loadingIcon svg .dash {
	stroke:#fff;
}
.page-loaded .loadingIcon {
	opacity:0;
	-webkit-transform:scale(0);
  transform:scale(0);
  pointer-events:none;
	-webkit-transition:all 0.5s, visibility 0s 5s;
	transition:all 0.5s, visibility 0s 5s;
}

.slides .loadingIcon svg {
  -webkit-animation:loading 3s infinite cubic-bezier(.64,.48,.55,.64);
  animation:loading 3s infinite cubic-bezier(.64,.48,.55,.64);
}

.page-loaded .slides .loadingIcon svg {
  -webkit-animation:none;
  animation:none;
}

.loadingIcon svg .dash {
	-webkit-transition:0.3s linear;
	transition:0.3s linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(-1080deg); transform:rotate(-1080deg);}
}
@keyframes loading {
	from { transform:rotate(-1080deg);}
}




