<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
  <head>
    {% include meta.html %}

    <link id="feedLink" rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }} RSS" href="https://blog.ironcorelabs.com/feed">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {% unless page.hidenav %}
      {% include nav.html %}
    {% endunless %}

<!--    <div class="main" role="main">-->
      {{ content }}
<!--    </div> /.main -->

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="><\/script>')</script>

    <script src="/js/min/all.min.js"></script>

    {% if site.mode == "dev" %}
      <script src="//localhost:35729/livereload.js"></script>
    {% else %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>
