<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Article">
  <head>
    {% include meta.html %}

    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {% if page.url != '/' %}
      {% include nav.html %}
    {% endif %}

<!--    <div class="main" role="main">-->
      {{ content }}
<!--    </div> /.main -->

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/js/min/all.min.js"></script>

    {% if site.mode == "dev" %}
      <script src="//localhost:35729/livereload.js"></script>
    {% else %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>
