---
layout: default
---

<div class="container">
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-chevron-circle-left"></i> <a href="/news/">Back to News listing</a></li>
  </ol>
  <article class="post" role="main">
    <header class="heading">
      <h1>{{ page.title }}</h1>
      <div class="attribution">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="date">
           {{ page.date | date: "%B %e, %Y" }}
        </time>
        / {{ page.author }}
      </div> 
    </header> 
    <main class="entry">
      {{ content }}
      <footer>
        <h2>Comments</h2>
        {% include disqus.html %}
        
        <h2>More Posts</h2>
        {% if page.previous %}
          <i class="fa fa-chevron-left"></i> Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% endif %}
        {% if page.previous and page.next %}
          &nbsp;<span class="separator text-muted">|</span>&nbsp;
        {% endif %}
        {% if page.next %}
          Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a> <i class="fa fa-chevron-right"></i>
        {% endif %}
      </footer>
    </main>
    <aside class="postsidebar hidden-print">
      <hr class="visible-xs visible-sm">
      {% if page.tags.size > 0 %}
      <h5>Tags</h5>
      <p>{{ page.tags | array_to_sentence_string }}</p>
      {% endif %}
      
      {% if page.categories.size > 0 %}
      <h5>Categories</h5>
      <p>{{ page.categories | array_to_sentence_string }}</p>
      {% endif %}
      
      {% if site.related_posts.size > 0 %}
      <h5>Related Posts</h5>
      <ul class="related">
        {% for post in site.related_posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      
      
      <h5>Share</h5>
      <div class="share">
        <a class="fa fa-twitter-square fa-2x" rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url }}&via=ironcorelabs&related=ironcorelabs" title="Share on Twitter"><span class="sr-only">Twitter</span></a>
        &nbsp;
        <a class="fa fa-facebook-square fa-2x" rel="nofollow" target="_blank" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{ page.title | uri_escape }}" title="Share on Facebook"><span class="sr-only">Facebook</span></a>
        &nbsp;
        <a class="fa fa-google-plus-square fa-2x" rel="nofollow" target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+"><span class="sr-only">Google+</span></a>
        &nbsp;
        <a class="fa fa-linkedin-square fa-2x" rel="nofollow" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.excerpt | strip_html | uri_escape }}&source=ironcorelabs.com" title="Share on LinkedIn"><span class="sr-only">LinkedIn</span></a>
        &nbsp;
        <a class="fa fa-reddit-square fa-2x" rel="nofollow" target="_blank" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title | uri_escape }}" title="Share on Reddit"><span class="sr-only">Reddit</span></a>
      </div>
      
    </aside>
  </article>
</div>